extends layout

block content
    
    script(src="/javascripts/jquery-3.2.1.min.js")
    script(src="/javascripts/ajax.js")
    html(lang='pt')  

     
         div(class="w3-container")
           header(class="w3-container w3-center w3-light-blue")
               h1 ÁRVORE GENEALÓGICA
         div(class="w3-container")
             div(class="w3-col-2 s8 w3-padding")
             div(class="w3-card-4")
                 header(class="w3-container w3-light-gray")
                     l1 Consulte toda a informação acerca da sua família!
                 header(class="w3-container w3-light-gray 20px")
                     l2 Através deste portal é possível obter todos os dados de cada indivíduo presente na sua árvore genealógica.
